/*================================== TIMELINE ==================================*/
.knowmore {
	background-color:transparent;
	border-radius:42px;
	border:2px solid rgb(29,29,31);
	display:inline-block;
	cursor:pointer;
	color:rgb(29,29,31);
	font-family:Arial;
	font-size:15px;
	padding:10px 20px;
	text-decoration:none;
    transition: all 0.3s ease-in-out, border 0.3s ease-in-out;
    margin-top: 20px;
    line-height: 15px;
}
.knowmore:hover {
    background-color: rgb(29,29,31);
    border:2px solid rgb(29,29,31);
    color: white;
}
.knowmore:active {
	position:relative;
	top:1px;
}
.knowmore span{
    font-size: 10px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

/*-- GENERAL STYLES ------------------------------*/
#Timeline{
    max-width: 1100px;
    width:100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.timeline-title{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.timeline-title2{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(91,91,91);
}
.timeline-title3{
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    font-weight: bold;
    margin-top: 15px;
}
.timeline-content p{
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
}
.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
}
.timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
    line-height: inherit;
}
/*----- TIMELINE ITEM -----*/
.timeline-item {
    padding-left: 40px;
    position: relative;
}
.timeline-item:last-child {
    padding-bottom: 0;
}
/*----- TIMELINE INFO -----*/
.timeline-info {
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 0.5em 0;
    text-transform: uppercase;
    white-space: nowrap;
    padding-top: 30px;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}
/*----- TIMELINE MARKER -----*/
.timeline-marker {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    width: 15px;
}
.timeline-marker:before {
    background: rgb(91,91,91);
    border: 1px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    top: 6px;
    left: 1.5px;
    width: 10px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
    content: "";
    width: 3px;
    background: rgb(91,91,91);
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px;
}
.timeline-item:last-child .timeline-marker:after {
    content: none;
}
.timeline-item:not(.period):hover .timeline-marker:before {
    background: rgba(0,151,255,1);
}
.timeline-item:not(.period):hover .timeline-info{
    color: rgba(0,151,255,1);
}
/*----- TIMELINE CONTENT -----*/
.timeline-content {
    padding-bottom: 30px;
}
.timeline_block{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}
.timeline-content p:last-child {
    margin-bottom: 0;
}
/*----- TIMELINE PERIOD -----*/
.period {
    padding: 0;
}
.period .timeline-info {
    display: none;
}

.period .timeline-marker:after {
    content: "";
    height: 0px;
    top: auto;
}
.period .timeline-content {
    padding: 40px 0 70px;
}
.period .timeline-title {
    margin: 0;
}
/*---------------------------------------------- MOD: TIMELINE SPLIT ----------------------------------------------*/
@media (min-width: 735px) {
    .timeline-split .timeline {
        display: table;
   }
    .timeline-split .timeline-item {
        display: table-row;
        padding: 0;
   }
    .timeline-split .timeline-info, .timeline-split .timeline-marker, .timeline-split .timeline-content, .timeline-split .period .timeline-info {
        display: table-cell;
        vertical-align: top;
   }
    .timeline-split .timeline-marker {
        position: relative;
   }
    .timeline-split .timeline-content {
        padding-left: 30px;
   }
    .timeline-split .timeline-info {
        padding-right: 30px;
   }
    .timeline-split .period .timeline-title {
        position: relative;
        left: -45px;
   }

}
/* PHONES */
@media screen and (max-width: 734px) {
    #Timeline{
        max-width: 400px;
        margin-top:30px;
    }
    .timeline-item {
        padding-left: 40px;
        position: relative;
    }
    .timeline-info{
        padding-top: 0px;
    }
    .timeline-marker{
        top:0px;
    }
}
/* TABLET */
@media screen and (max-width: 1068px) and (min-width: 735px){
    #Timeline{
        max-width: 820px;
    }
}
