/*BLOCK*/

.s5_block{
    height: 600px;
    max-width: 1400px;
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: rgb(247,247,247);
}
#firstblock5{
    height: 900px;
    background-image: url("../pictures/section_5/BL.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
#album{
    background-image: url("../pictures/section_5/blockalbum.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#pods{
    background-image: url("../pictures/section_5/juul.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
/*INSIDE BLOCK*/
.s5_block_gauche{
    max-width: 550px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
}
#s5_block1_text{
    height: 550px;
    margin-top: 350px;
}
.s5_block_gauche p{
    max-width: 340px;
}
#s5_button1{
    max-width: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#s5_button2{
    max-width: 165px;
    width: 100%;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#s5_button3{
    max-width: 165px;
    width: 100%;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.s5_block_droite{
    max-width: 550px;
    width: 50%;

}
.s5_block_droite2{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    max-width: 550px;
    width: 50%;
}
#discord{
    background-image: url("../pictures/section_5/ECS.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#h1block{
    margin-top: 30px;
}
#s5_block_droite1{
    
    max-width: 550px;
    width: 50%;
}
.s5_block_droite3{
    max-width: 700px;
    width: 50%;
}


.knowmore_w {
	background-color:transparent;
	border-radius:42px;
	border:2px solid white;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:15px;
	padding:10px 5px;
	text-decoration:none;
    transition: all 0.3s ease-in-out, border 0.3s ease-in-out;
    margin-top: 20px;
    line-height: 15px;
}


.s5_block_gauche h4{
   font-size: 70px; 
}

@media screen and (max-width: 1068px) and (min-width: 735px){
    .s5_block{
        max-width: 820px;
        height: 500px; 
    }
    .s5_block_gauche{
        padding-left: 30px;
    }
}

@media screen and (max-width: 734px) {
    .s5_block{
        max-width: 400px;
        width: 100%;
        height: fit-content;
        flex-direction: column-reverse;
    }
    .s5_block_gauche{
        max-width: 400px;
        width:100%;
        height: fit-content;
        padding: 0px ;
        padding-bottom: 30px;
        padding-top: 30px;
        border-radius: 0px 0px 10px 10px ;
    }
    .s5_block_gauche p{
        max-width: 250px;
        width: 100%;
        font-size: 15px;
        margin-left: 20px;
    }
}
a{
    cursor: pointer;
    color: #06c;
    font-family: "SF Pro Display","Helvetica Neue","Helvetica","Arial",sans-serif;
}