#dl{
    max-width: 1400px;
    width: 100%;
    height: 550px;
    margin: 30px auto;
    display: flex ;
    flex-direction: row;
    background-color: white;
    align-items: center;
    justify-content: center;
}
#dl_select_box{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;
}
#dl_select_box p{
    margin-bottom: 15px;
}
#dl_button{
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#dl_button img{
    height: 200px;
    margin-bottom: 30px;
}
#handmade{
    height: 550px;
    max-width: 1400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0 auto;
}
#handmade span{
    background: linear-gradient(90deg, rgba(0,151,255,1) 0%, rgba(0,52,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
/*BUTTON*/
.knowmore_down{
	background-color:transparent;
	border-radius:42px;
	border:2px solid #0084ff;
	display:inline-block;
	cursor:pointer;
	color:#0084ff;
	font-family:Arial;
	font-size:15px;
	padding:10px 20px;
	text-decoration:none;
    transition: all 0.3s ease-in-out, border 0.3s ease-in-out;
    margin-top: 30px;
    margin-left: 15px;
}
.knowmore_down_r{
	background-color:transparent;
	border-radius:42px;
	border:2px solid red;
	display:inline-block;
	cursor:pointer;
	color:red;
	font-family:Arial;
	font-size:15px;
	padding:10px 20px;
	text-decoration:none;
    transition: all 0.3s ease-in-out, border 0.3s ease-in-out;
    margin-top: 15px;
    margin-left: 0px;
}
.knowmore_down:hover {
    background-color: #0084ff;
    border:2px solid #0084ff;
    color: white;
}
.knowmore_down:active {
	position:relative;
	top:1px;
}

@media screen and (max-width: 1068px) and (min-width: 735px){
    #dl{
        max-width: 820px;
        width: 100%;
    }
    #handmade{
        width: 100%;
        max-width: 100%;
    }
    footer{
        max-width: 820px;
    }
}

@media screen and (max-width: 734px) {
    #dl{
        max-width: 400px;
        flex-direction: column;
    }
    #dl_select_box{
        max-width: 400px;
        width: 100%;
        height: 170px;
        padding: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        
    }
    #dl_button{
        height: 450px;
        width: 100%;
        max-width: 400px;
        margin: 0px;
        padding: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    #handmade{
        margin: 0px;
        height: 170px;
        width: 100%;
        max-width: 400px;
        margin: 0px;
    }
    #handmade p{
        font-size: 20px;
    }
    footer{
        max-width: 400px;
        flex-direction: column;
        padding-bottom: 15px;

    }
    footer h1{
        margin-top: 30px;
    }
}