
/*BLOCK*/
.s5_block{
    height: 600px;
    max-width: 1400px;
    width: 100%;
    margin: 30px auto;
    display: flex;
    border-radius: 18px;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: rgb(247,247,247);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.s5_block2{
    height: 600px;
    display: flex;
    border-radius: 18px;
    justify-content: center;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    overflow: hidden;

}
.s5_block2 video{
    min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.s5_block2 h2,svg{
    z-index: 1;
}
#lifebeyond{
    height: 900px;
    background-image: url("../pictures/section_5/BL.png");
}
#album{
    background-image: url("../pictures/section_5/blockalbum.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pods{
    background-image: url("../pictures/section_5/juul.png");
}
#discord{
    background-image: url("../pictures/section_5/ECS.png");
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*INSIDE BLOCK*/
.s5_gauche{
    max-width: 700px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
}
#s5_block1_text{
    height: 550px;
    margin-top: 350px;
}
.s5_gauche p{
    max-width: 340px;
}
.s5_droite{
    max-width: 700px;
    width: 50%;
}
@media screen and (max-width: 1068px) and (min-width: 735px){
    .s5_block{
        max-width: 820px;
        height: fit-content; 
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 75px;
    }
    #pods{
        background-image: none;
    }
    .s5_gauche{
        padding: 0px;
        display: flex;
        align-items: center;
    }
    .s5_droite{
        height: 300px;
    }
    /*BLOCK PODS*/
    #pods .s5_droite{
        background-image: url("../pictures/section_5/juul2.png");
        background-size: contain;
        background-repeat: no-repeat; 
        background-position: center; 
    }
    /*BLOCK LIFE BEYOND*/
    #lifebeyond{
        background-image: none;
        height: fit-content;
        padding-bottom: 0px;
    }
    #lifebeyond .s5_droite{
        background-image: url("../pictures/section_5/BL2.png");
        background-size: cover;
        background-repeat: no-repeat; 
        background-position: center; 
        height: 400px;
        max-width: 100%;
        width: 100%;
    }
    #s5_block1_text{
        height: fit-content;
        margin-top: 0px;
    }
}
@media screen and (max-width: 734px) {
    #Centres{
        padding: 80px 0px 100px 0px;
    }
    .s5_block{
        width: 100%;
        min-height: 600px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 75px;
        border-radius: 0px;
    }
    .s5_gauche{
        max-width: 400px;
        width:100%;
        height: fit-content;
        padding: 0px ;
        padding-bottom: 30px;
        padding-top: 30px;
        border-radius: 0px 0px 10px 10px ;
    }

    #pods{
        background-image: none;
    }
    .s5_gauche{
        padding: 0px;
        display: flex;
        align-items: center;
    }
    .s5_droite{
        height: 300px;
    }
    /*BLOCK PODS*/
    #pods .s5_droite{
        background-image: url("../pictures/section_5/juul2.png");
        background-size: contain;
        background-repeat: no-repeat; 
        background-position: center; 
    }
    /*BLOCK LIFE BEYOND*/
    #lifebeyond{
        background-image: none;
        height: fit-content;
        padding-bottom: 0px;
    }
    #lifebeyond .s5_droite{
        background-image: url("../pictures/section_5/BL2.png");
        background-size: cover;
        background-repeat: no-repeat; 
        background-position: center; 
        height: 400px;
        max-width: 100%;
        width: 100%;
    }
    #s5_block1_text{
        height: fit-content;
        margin-top: 0px;
    }
}