/* COMMUN */
#Compétences{
background: rgb(247,247,247);
background: linear-gradient(0deg, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%);
}
.Block_competences{
    max-width: 2400px;
    width: 100%;
    height: 900px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-image: url("../pictures/section_4/html.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    padding-left: 200px;
    margin-top: 200px;
}
.Block_competences div{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
#adobe{
    max-width: 3000px;
    background-image: url("../pictures/section_4/adobe.png");
    justify-content: center;
    align-items: center;
    padding-left: 0px;

}
#adobe_div1{
    height: fit-content;
    width: fit-content;
    text-align: center;
    align-items: center;
    margin-right: 400px;
}
#office{
    background-image: url("../pictures/section_4/office.png");
}
.Block_competences div div{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;

}
.Block_competences p{
    max-width: 340px;
}
.Block_competences img{
    max-width: 40px;
    margin-left: 5px;
}
.Block_competences img:first-child{
    margin-left: 0px;
}

@media screen and (max-width: 1068px) and (min-width: 735px){

}

@media screen and (max-width: 734px) {

}