.cards {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}
.card{
    height: 740px;
    width: 100%;
    padding:30px;
    border-radius:18px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: #f7f7f7;
}
@media screen and (max-width: 1068px) and (min-width: 735px){
    .cards{
        max-width: 850px;
    }
    .card{
        height: 600px;
    }
}
@media screen and (max-width: 734px){
    .cards{
        max-width: 400px;
        grid-template-columns: repeat(1, 2fr);
    }
    .card{
        height: 400px;
    }
}