/* StyleSection_1.css, v1.0 */
/* SECTION 1 */
#s1{
    max-width: 1400px;
    width: 100%;
    height: 740px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
#s1_left{
    height: 100%;
    max-width: 685px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 15px;
}
#s1_left_text{
    align-items: flex-start;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: rgb(91,91,91);
    font-size: 17px;
}
#s1_left_text a{
    color: rgba(0,151,255,1);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}
#s1_left_text a:hover{
    text-decoration: underline;
}
#s1_left_text span{
    color: black;
}
#s1_right{
    height: 100%;
    max-width: 685px;
    width: 100%;
    background: linear-gradient(90deg, rgba(0,151,255,1) 0%, rgba(0,52,255,1) 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}
/* PHONES */
@media screen and (max-width: 734px) {
    html{
        padding: 20px;
    }
    #main{
        width: 100%;
    }
    #s1{
        width: 100%;
        flex-direction: column-reverse;
        height: fit-content;
    }
    #s1_left{
        height: 600px;
        max-width: 400px;
        margin: 0 auto;
        margin-top: 20px;
        width: 100%;
    }
    #s1_left_text{
        font-size: 15px;
    }
    #s1_right{
        height: 600px;
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }
}
/* TABLET */
@media screen and (max-width: 1068px) and (min-width: 735px){
    #main{
        width: 100%;
    }
    html{
        padding-left: 20px;
        padding-right: 20px;
    }
    #s1{
        max-width: 820px;
        width: 100%;
        margin: 0 auto;
        flex-direction: row;
        height: fit-content;
    }
    #s1_left{
        height: 600px;
        max-width: 400px;
        margin: 0 auto;
        margin-right: 10px;
    }
    #s1_left_text{
        font-size: 16px;
    }
    #s1_right{
        height: 600px;
        max-width: 400px;
        margin: 0 auto;
        margin-left: 10px;
    }
}