*{margin: 0px;padding: 0px;}
#menu{
    position:fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 1100px;
    left: 50%;
    margin-left: -550px;
    z-index: 1000;
}
a{
    text-decoration: none;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    margin-right: 10px;
}
.active_menu{color: blue;}
