*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 10000px;
}
#menu{
    font-style: normal;
    font: 'San Francisco', Helvetica, Arial, san-serif;

}
.active{
    color: rgb(52, 152, 219);
}
#section_comp{

    display: flex;
}
/*/ Left /*/
#left{
    height: 100vw;
    width: 50%;
}

#fixed{
    position: fixed;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right{
    width: 50%;
    display: flex;
    flex-direction: row;
}
#CompBlock_droite{
    margin-left: 30px;
    margin-top: 100px;
}
/*/ General /*/
.CompBlock{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 30px;
}
.CompBlock_divIMG{
    width: 200px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 25px;
    padding-top: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.CompBlock_IMG{
    max-width: 100%;
    max-height: 100%;
}
.CompBlock_Bottom{
    width: 200px ;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-top: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.CompBlock_text{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.CompBlock_Title{
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
}
.CompBlock_color{
    font-size: 12px;
    line-height: 30px;
}
/*/ Block 1 - Photoshop /*/
#CompBlock1{
    background: rgb(69,155,240);
}
#CompBlock1_color{
    color: rgb(69,155,240);
}
#CompBlock1_Bottom{
    background-color: rgb(6,30,52);
}
/*/ Block 2_1 - XD /*/
#CompBlock2_1{
    background: rgb(238,111,239);
}
#CompBlock2_1_color{
    color: rgb(238,111,240);
}
#CompBlock2_1_Bottom{
    background-color: rgb(65,10,53);
}
/*/ Block 2 - Excel /*/
#CompBlock2{
    background: rgb(77,161,107);
}
#CompBlock2_color{
    color: rgb(77,161,107);
}
#CompBlock2_Bottom{
    background-color: rgb(44,90,58);
}
/*/ Block 2_2 - PowerPoint /*/
#CompBlock2_2{
    background: rgb(242,148,115);
}
#CompBlock2_2_color{
    color: rgb(242,148,115);
}
#CompBlock2_2_Bottom{
    background-color: rgb(168,57,34);
}


/*/ Block 3 - Word /*/
#CompBlock3{
    background: rgb(63,125,205);
}
#CompBlock3_color{
    color: rgb(63,125,205);
}
#CompBlock3_Bottom{
    background-color: rgb(26,63,140);
}