*{margin: 0px;padding: 0px;}
#menu{
    position:fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 1100px;
    left: 50%;
    margin-left: -550px;
    z-index: 1000;
}
a{
    text-decoration: none;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    margin-right: 10px;
}
.active{
    color: blue;
}
#menumobile{
    display: none;
}

@media screen and (max-width: 734px) {
    #menumobile{
        display: flex;
        flex-direction: column-reverse;
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }
    #menumobilea{
        display: flex;
        flex-direction: column;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
    #menumobilea a{
        color: white;
    }
    #menumobilea a:hover{
        color: black;
    }
    #menu{
        display: none;
    }
    #blockmenumobile{
        position: fixed;
        background: linear-gradient(90deg, rgba(0,151,255,1) 0%, rgba(0,52,255,1) 100%);
        width: 100%;
        height: 100%;
        margin: -20px;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 1068px) and (min-width: 735px){
    #menu{
        width: 100%;
    }

}
