
/*================================== TIMELINE ==================================*/
/*-- GENERAL STYLES ------------------------------*/
.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
.timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
    line-height: inherit;
}
/*----- TIMELINE ITEM -----*/
.timeline-item {
    padding-left: 40px;
    position: relative;
}
.timeline-item:last-child {
    padding-bottom: 0;
}
/*----- TIMELINE INFO -----*/
.timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 0.5em 0;
    text-transform: uppercase;
    white-space: nowrap;
    padding-top: 30px;
    font-family: Helvetica, Arial, sans-serif;
    
}
#Timeline1{
    margin-top: 30px;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    width: 15px;
}
.timeline-marker:before {
    background: rgb(91,91,91);;
    border: 1px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    top: 6px;
    left: 1.5px;
    width: 10px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
    content: "";
    width: 3px;
    background: rgb(91,91,91);
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px;
}
.timeline-item:last-child .timeline-marker:after {
    content: none;
}
.timeline-item:not(.period):hover .timeline-marker:before {
    background: blue;
}
/*----- TIMELINE CONTENT -----*/
.timeline-content {
    padding-bottom: 30px;
}
.test{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
}
.timeline-content p:last-child {
    margin-bottom: 0;
}
/*----- TIMELINE PERIOD -----*/
.period {
    padding: 0;
}
.period .timeline-info {
    display: none;
}

.period .timeline-marker:after {
    content: "";
    height: 0px;
    top: auto;
}
.period .timeline-content {
    padding: 40px 0 70px;
}
.period .timeline-title {
    margin: 0;
}
.timeline-title{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -2px;
    margin-bottom: 5px;
}
.timeline-title2{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    color:rgb(91,91,91);
    letter-spacing: -2px;
    margin-bottom: 3px;
}
.timeline-title3{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    color:blue;
}
/*---------------------------------------------- MOD: TIMELINE SPLIT ----------------------------------------------*/
@media (min-width: 768px) {
    .timeline-split .timeline {
        display: table;
   }
    .timeline-split .timeline-item {
        display: table-row;
        padding: 0;
   }
    .timeline-split .timeline-info, .timeline-split .timeline-marker, .timeline-split .timeline-content, .timeline-split .period .timeline-info {
        display: table-cell;
        vertical-align: top;
   }
    .timeline-split .timeline-marker {
        position: relative;
   }
    .timeline-split .timeline-content {
        padding-left: 30px;
   }
    .timeline-split .timeline-info {
        padding-right: 30px;
   }
    .timeline-split .period .timeline-re {
        position: relative;
        left: -45px;
   }
}

#Timeline1{
    display: flex;
    flex-direction: row;
}
